body {
  background: rgb(97, 97, 99);
  background: linear-gradient(
    270deg,
    rgba(23, 23, 24, 0.6587009803921569) 0%,
    rgba(35, 36, 36, 0.8267682072829132) 17%
  );
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.container {
  width: 31.25rem;
  height: 31.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
}
input {
  background-color: rgb(42, 42, 43);
  color: white;
  padding: 1rem 0.0625rem;
}
button {
  margin-top: 1em;
  background-color: black;
  color: white;
  padding: 1rem 0.0625rem;
  border: none;
}
h2 {
  align-self: center;
}
.todo {
  width: 43.75rem;
  height: 8rem;
  border: 3px solid gray;
  color: white;
  background-color: rgb(42, 42, 43);
  margin: 0 auto;
  padding: 1em;
  border-radius: 0.625rem;
  margin-top: 10px;
}
.todo p {
  font-size: 0.7em;
}
header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
header h3 {
  align-self: center;
}
.header1 {
  display: flex;
  gap: 5px;
}
span {
  color: gray;
  font-size: 0.875rem;
}
.timer {
  display: flex;
  justify-content: space-between;
  color: rgb(165, 163, 163);
  font-size: 1rem;
}
.timer1 {
  color: pink;
}

nav {
  margin-top: 10px;
}

.pink {
  background-color: #666;
  color: white;
}
.page-link {
  color: white !important;
  background-color: rgb(42, 42, 43) !important;
  border: 3px solid gray !important;
}
.active {
  background-color: pink !important;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: pink;
  color: rgb(63, 62, 62);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 12.5rem;
  bottom: 150px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  border-radius: 1.25rem;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.main {
  display: flex;
  justify-content: space-between;
}
#delete {
  color: rgb(199, 63, 63);
}
#edit {
  color: rgb(221, 211, 211);
}
.main2 {
  display: flex;
  gap: 0.625rem;
}

.hiden {
  display: none;
}

.dager {
  background-color: red;
}
.home {
  margin-top: 1.25rem !important;
  color: white !important;
  text-decoration: none !important;
  font-size: 30px !important;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace !important;
}
a:hover {
  color: rgb(152, 149, 149) !important;
}

.font {
  font-size: 0.625rem;
}
.btn2 {
  color: rgb(234, 111, 111);
}
